@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Monsieur+La+Doulaise&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{ /* "*" ça sert à selectionner tous les éléments de ma page*/
    margin: 0;
    padding: 0;
    font-family:"Playfair Display", sans-serif;
}
body {
    height: 100vh;/* ici c'est la hauteur de la page et 100vh c'est ça veut dire on veut exactement la hauteur de notre écran */
    background-color: rgb(227, 219, 205);/*arrière plan*/
    padding: 0 12%;/*espace ou plutôt marge intérieur de 12% à gauche et à droite*/
}
header{
    display: flex;/*ça rend les éléments flexibles menu et logo seront sur la même ligne du coup*/
    justify-content: space-between;/*ça va créer un espace dynamique responsive*/
    align-items: center;/*pour centrer nos éléments ici le logo. et le menu*/
    padding: 10px;/*tjrs marge interieur (du conteneur header) si on met une valeur ça s'applique aux 4 côtés mais si ont met 2 valeurs la 1ere valeur sera pour en haut et en bas et la 2eme sera pour droite et gauche*/
}

a {
    text-decoration: none; /*comme ça on ne voit pas le trait du lien hypertexte */
}
.logo{
    font-weight: bold; /*le poids ou plutôt l'intensité de la police*/
    font-size: 25px;
    color:rgb(2, 2, 2);
}
.menu ul {
    display: flex;/* Pour aligner le menu*/
    gap: 40px;/*Pour mettre ajuster l'ecart entre chaque élémentt du menu*/
    list-style: none;/*Pour retirer les puces à chaque élément de mon menu*/
    align-items: center; /*Tout est bien centré mais seulement à la verticale du bloc ou conteneur*/
}
.menu a {
color: rgb(7, 7, 7);
transition: 0,5s;/*pour que la transition du hover soit leger*/
}
.menu a:hover {
color: #535252;
}
.btn {
    color:rgb(227, 219, 205);
    padding: 8px 30px;
    font-size: 16px;  
    border: none;/*Ça retire la bordure de mon bouton*/
    border-radius: 6px;
    cursor: pointer;  
    background-color: rgb(1, 1, 1);
}
.btn:hover{
    background-color:#535252;;
}
/*.home {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 0;
}*/
h5 {
    font-family: "monsieur la doulaise", sans-serif;
    font-size: 72px;
    color:rgb(3, 3, 3);
}
h1, h2{
    font-family: "Playfair Display", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 30px;
}
.images {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.images img {
    width: 30%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    transition: 1s;
}
.images img:hover {
    width: 40%;
    cursor: pointer;
}
@keyframes deploy {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
h1,h5,h2, h3 {
  animation: deploy 3s ease forwards;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
 }
h1 {
  font-size: 7rem; /* font-size → la taille (par exemple 2rem, 3rem, 4rem, etc.)*/
  font-weight: 700; /*font-weight → l’épaisseur (valeurs typiques : 400 = normal, 700 = gras, 900 = très gras)*/
  margin: 0;
}
h2 {
  font-size: 3rem; /* ICI C'est la taille de la police*/
  margin: 0;
 }
 .bas {
  
  margin: auto;
  background-size: cover;
  color: rgb(227, 219, 205);
  background-color: black;
  font-size: 25px;

  display: flex;
  justify-content: space-evenly;
  
    
 }*/
  main {
  display: flex;
  justify-content: center;
  align-items: center;     /* centre verticalement */
  min-height: 90vh;  
  }

  h3 {
  font-size: 3rem; /* ICI C'est la taille de la police*/
  margin: 0px;
 }
 form {
   gap: 16px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   width: 500px;
   height: 370px;
   }

 .para p {
    display: flex;
    justify-content: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   /* {
    width: 100%;           le champ prend toute la largeur 
    max-width: 100%;      empêche toute limite 
    padding: 12px 16px;    agrandit à l’intérieur 
    font-size: 1.1rem;    rend le texte plus lisible 
    box-sizing: border-box;  évite que le padding déborde 
    background-color: rgb(251, 250, 247);
    border: none;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 20px;
}*/
  
  

.btn-form{
    color:rgb(227, 219, 205);
    padding: 8px 30px;
    font-size: 16px;  
    border: none;/*Ça retire la bordure de mon bouton*/
    border-radius: 6px;
    cursor: pointer;  
    background-color: rgb(1, 1, 1);
}

.bas a {
  text-decoration: none;
  color:rgb(227, 219, 205);
}

.emoji {
  font-size: 7rem;
}
#contact-form input,
#contact-form textarea {
    width: 100%; 
    max-width: 450px;
    padding: 14px 18px;
    font-size: 1.2rem;
    box-sizing: border-box;
    background-color: rgb(251, 250, 247);
    border: 2px solid black;
    border-radius: 6px;
}
